-- Script completo para solucionar permisos de administrador
-- Ejecutar en Supabase SQL Editor

-- 1. Verificar usuario actual
SELECT 
    id,
    email,
    role,
    created_at,
    last_sign_in_at
FROM auth.users 
WHERE email = 'dani@fl.com';

-- 2. Asignar rol de administrador en auth.users
UPDATE auth.users 
SET role = 'admin'
WHERE email = 'dani@fl.com';

-- 3. Crear o actualizar perfil de empleado con rol de administrador
INSERT INTO empleados (
    id,
    nombre,
    email,
    rol,
    estado,
    fecha_creacion,
    permisos
) VALUES (
    (SELECT id FROM auth.users WHERE email = 'dani@fl.com'),
    'Daniel',
    'dani@fl.com',
    'administrador',
    'activo',
    NOW(),
    '["dashboard", "productos", "ventas", "caja", "clientes", "empleados", "reportes", "configuracion"]'
)
ON CONFLICT (id) 
DO UPDATE SET 
    rol = 'administrador',
    estado = 'activo',
    permisos = '["dashboard", "productos", "ventas", "caja", "clientes", "empleados", "reportes", "configuracion"]',
    fecha_actualizacion = NOW();

-- 4. Crear políticas RLS para administrador
-- Primero eliminar políticas existentes si las hay
DROP POLICY IF EXISTS "Administradores pueden ver todos los empleados" ON empleados;
DROP POLICY IF EXISTS "Administradores pueden gestionar productos" ON productos;
DROP POLICY IF EXISTS "Administradores pueden gestionar ventas" ON ventas;
DROP POLICY IF EXISTS "Administradores pueden gestionar caja" ON caja;
DROP POLICY IF EXISTS "Administradores pueden gestionar clientes" ON clientes;
DROP POLICY IF EXISTS "Administradores pueden gestionar inventario" ON inventario;

-- Política para empleados
CREATE POLICY "Administradores pueden ver todos los empleados" ON empleados
    FOR ALL USING (
        auth.jwt() ->> 'role' = 'admin' OR
        auth.jwt() ->> 'email' = 'dani@fl.com'
    );

-- Política para productos
CREATE POLICY "Administradores pueden gestionar productos" ON productos
    FOR ALL USING (
        auth.jwt() ->> 'role' = 'admin' OR
        auth.jwt() ->> 'email' = 'dani@fl.com'
    );

-- Política para ventas
CREATE POLICY "Administradores pueden gestionar ventas" ON ventas
    FOR ALL USING (
        auth.jwt() ->> 'role' = 'admin' OR
        auth.jwt() ->> 'email' = 'dani@fl.com'
    );

-- Política para caja
CREATE POLICY "Administradores pueden gestionar caja" ON caja
    FOR ALL USING (
        auth.jwt() ->> 'role' = 'admin' OR
        auth.jwt() ->> 'email' = 'dani@fl.com'
    );

-- Política para clientes
CREATE POLICY "Administradores pueden gestionar clientes" ON clientes
    FOR ALL USING (
        auth.jwt() ->> 'role' = 'admin' OR
        auth.jwt() ->> 'email' = 'dani@fl.com'
    );

-- Política para inventario
CREATE POLICY "Administradores pueden gestionar inventario" ON inventario
    FOR ALL USING (
        auth.jwt() ->> 'role' = 'admin' OR
        auth.jwt() ->> 'email' = 'dani@fl.com'
    );

-- 5. Verificar configuración completa
SELECT 
    u.id,
    u.email,
    u.role as auth_role,
    e.nombre,
    e.rol as empleado_rol,
    e.estado,
    e.permisos
FROM auth.users u
LEFT JOIN empleados e ON u.id = e.id
WHERE u.email = 'dani@fl.com';

-- 6. Verificar políticas RLS activas
SELECT 
    schemaname,
    tablename,
    policyname,
    permissive,
    roles,
    cmd,
    qual
FROM pg_policies 
WHERE tablename IN ('empleados', 'productos', 'ventas', 'caja', 'clientes', 'inventario')
ORDER BY tablename, policyname;
